BasedOnStyle: Google
AlignEscapedNewlinesLeft: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakAfterReturnType: AllDefinitions
BinPackParameters: false
BreakBeforeTernaryOperators: false
BreakConstructorInitializersBeforeComma: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
DerivePointerBinding: false
IndentCaseLabels: false
IndentFunctionDeclarationAfterType: false
MaxEmptyLinesToKeep: 2
DerivePointerAlignment: false
PointerAlignment: Right
TabWidth: 2
IncludeCategories:
  - Regex:           '^<smf/.*>'
    Priority:        2
