# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/

# bazel
bazel-*

src/third_party/bin/
src/third_party/include/
src/third_party/lib/
src/third_party/etc/
src/third_party/lib64/
src/third_party/share/
.gdb_history
*.smf.fb.h*
build_debug/
build_release/
