# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/

# bazel
bazel-*

# Vagrant
.vagrant/

.gdb_history
*.smf.fb.h*
build_debug/
build_release/

.DS_Store

# clang-tidy
compile_commands.json

# vim
.*.swp

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake

src/utils/zstd_ext-prefix/
src/rpc/smf_gen/generated_demo_service
src/rpc/smf_gen/smf_gen
src/utils/libzstd/
src/demo_apps/demo_client
src/demo_apps/demo_server
src/smfb/smfb
src/smfb/client/smfb_low_level_client

# tests
src/integration_tests/*_test
src/test/*_unit_test

# docs
Doxyfile
