# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/

# bazel
bazel-*

# Vagrant
.vagrant/

src/third_party/*
!src/third_party/.gitignore
.gdb_history
*.smf.fb.h*
build_debug/
build_release/

.DS_Store

# clang-tidy
compile_commands.json
